@use "./styles/partials/fonts.scss" as *;

html,
body {
  margin: 0;
  font-family: "Avenir";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// header {
//   display: flex;
//   flex-direction: column;
// }

// main {
//   display: flex;
//   flex-direction: column;
// }

// footer {
//   display: flex;
//   flex-direction: column;
// }
